@font-face {
    font-family: NeuMontreal;
    src: url("/Fonts/NeueMontreal-Bold.otf");
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family:NeuMontreal;
}
header{
    width: auto;
    height: 8px;
    min-height: 11%;
    background-color: #000;
    
    
  }
  header h1{
    color:#e60118;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    font-family: NeuMontreal;
    margin: 0;
  }

  p{
    margin: 0;
  }

  footer p{
    color: #e60118;
    margin: 0;
    
  }
  
  footer{
    height: 3%;
    background-color: #000;
   margin-top: auto;
   text-align: center;
  }

  .TableHeader{
    background-color: red;
    font-weight: 800;
  }