body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  div{
      display: flex;
  }
  
  .column-container{
      column-width: 15rem; 
    column-gap: 1rem;
    width: 80%;
  }
.title{
    text-align: center;
    color: #fe0000;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
}

table{
    color: #fe0000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  font-style: italic;
  background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

footer{
    margin-top: 425px;
    text-align: center;
    color: 	#fe0000;
    height: 8%;
  }

  tr{
    background-color: aqua;
    text-align: center;
  }