@font-face {
  font-family: NeuMontreal;
  src: url("/Fonts/NeueMontreal-Bold.otf");
}

@font-face {
  font-family: NeuMontreal-Light;
  src: url("/Fonts/NeueMontreal-Italic.otf");
}

body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: NeuMontreal-Light;
    
  }
  div{
      display: flex;
  }

  #nav{
    border-top: solid gray 2px;
    border-bottom: solid gray 2px;
  }
  
  .column-container{
      column-width: 15rem; 
    column-gap: 1rem;
    width: 80%;
  }
.title{
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
}

table{
    color: #fe0000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-style: italic;
  background-color: black;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

footer{
    margin-top: 425px;
    text-align: center;
    color: 	 white;
    height: 8%;
  }

  tr{
    background-color: white;
    text-align: center;
    color: black;
  }
  .footy{
    border-top: solid gray 2px;
  }
  .subHeading{
    color: white;
    font-family: NeuMontreal;
  }