body{
    background-color:black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  h1{
    font-weight: bold;
    font-size: 50px;
  }
  .grid-container {
      display: grid;
      grid-gap: 50px;
      grid-template-columns: 20% 20% 20% 20%;
      grid-template-rows: auto, auto, auto, auto;
      padding: 30px 30px 30px 135px;
      
    }
    .grid-item {
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 50px;
      font-size: 30px;
      text-align: center;
    }
      
    .title{
        font-style: italic;
    }
  a:link{
    color:black
  }
  
  #genre {
    background-color:#1685f8;
  } 
  
  #artist{
    background-color:#fdfe02;
  }
  
  #popSong{
    background-color:#0bff01;
  } 
  
  #oneHit{
    background-color:	#fe0000;
  }
  
  #club{
    background-color:	#fe00f6;
  } 
  
  #longSong{
    background-color:#4deeea;
  }
  
  #study{
    background-color:#74ee15;
  } 
  
  #runSong{
    background-color:	#ffaa00;
  }
  
  h1{
    text-align: center;
    color: #fe0000;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #f21d1d42;
    color: #f21d1d42;
  }
  
  footer{
    text-align: center;
    color: 	#fe0000;
  }