@font-face {
  font-family: NeuMontreal;
  src: url("/Fonts/NeueMontreal-Bold.otf");
}

@font-face {
  font-family: NeuMontreal-Light;
  src: url("/Fonts/NeueMontreal-Italic.otf");
}
header h1{
  text-align: center;
  color: white;
  font-family: NeuMontreal;
  font-size: 40px;
}
header {
  display: flex;
  flex-direction: column;
  min-height: 7%;
  width: 100%;
  background-color: black;
  font-family: NeuMontreal;
  text-align: center;
}

#nav{
  display: flex;
  width: 100%;
  background-color: black;
  border-top: solid grey 1px;
}


body{
    background-color: rgb(194, 171, 171);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: NeuMontreal-light;
  }
  
.output{
    text-align: left;
}

.footy{
    display: flex;
    height: 3%;
    color: 	white;
    height: 6;
    background-color: black;
}
.footy p {
  text-align: center;
  width: 100%;
  font-size: 12px;
}

.title{
        text-align: center;
        font-style: italic;
        font-weight: bolder;
        color: black;
        font-size: 50px;
        font-family: NeuMontreal;
      
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  #navbar{
    display: flex;
    color: white;
  }
  img{
    margin-left: 500px;
   margin-top: -250px;
  }

  li a:hover {
    background-color: #555;
    color: white;
  }
  